* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #64A6BD;
    position: relative;
}

header {
    position: relative;
}

#header_name {
    display: inline-block;
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    margin: 30px;
    z-index: 9;
}

#scrolldown-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    left: 50%;
    top: 120%;
    color: white;
    /* z-index: 9; */
}

#scrolldown-btn:hover {
    color: #90a8c3;
    transition: 0.1s linear;
}

.info_head_img {
    position: absolute;
    display: inline-block;
    opacity: 20;
    filter: brightness(35%);
    width: 100%;
    height: 620px;
    object-fit: cover;
    object-position: 100% 10%;
    z-index: -1;
    border-radius: 0 0 40px 40px;
}

.topic_list_icon {
    color: white;
    cursor: pointer;
}

#dropbtn {
    position: absolute;
    background-color: none;
    background-color: transparent;
    border: none;
    top: 106%;
    left: 0;
    margin-left: 20px;
    font-size: 1.4rem;
}

.dropup {
    position: fixed;
    display: inline-block;
    top: 565px;
    left: 20px;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 20px;
    bottom: 1px;
    left: 0px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: section_header_poppins;
}

.dropup-content a:last-of-type {
    border-radius: 0 0 20px 20px;
}

.dropup-content a:first-of-type {
    border-radius: 20px 20px 0 0;
}


.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}


#move_workflow {
    position: absolute;
    color: #7D747D;
    top: -8%;
    left: 50%;
}

.info_categories {
    position: absolute;
    color: white;
    font-family: headfont;
    top: 565px;
    left: 80px;
    font-size: 1.2rem;
}

aside {
    width: 280px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 40px;
    left: 70%;
    justify-content: space-between;
}

section {
    position: relative;
    transform: translate(0, 20%);
    font-family: headfont_roboto;
    color: white;
    max-width: 1250px;
    margin: 0 auto;
}

.thumbnail_img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 5%;
    border: 5px solid white;
    border-radius: 20px;
}

.name,
.age,
.gender,
.years_active,
.label,
.born {
    color: white;
    background-color: #b8c5d6;
    border-radius: 14px;
    text-align: center;
    margin-top: 10px;
    font-family: headfont_roboto;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 16px 0;
}

.name {
    width: 100%;
    padding: 16px 0;
    box-sizing: border-box;
}

.age {
    display: inline-block;
    border-radius: 14px;
    width: 38%;
    padding: 16px 0;
}

.gender {
    width: 60%;
    border-radius: 14px;
    padding: 16px 0;
    box-sizing: border-box;
}

.years_active {
    width: 100%;
    padding: 16px 0;
}

.label {
    width: 100%;
    padding: 16px 0;
}


.story_content {
    margin-top: 200px;
    color: white;
    font-family: section_paragraph_roboto;
}

.workflow {
    position: relative;
}

.workflow_box {
    display: flex;
    position: relative;
    width: 1210px;
    height: 463px;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48.8552px;
}

.workflow .workflow_box div:not(.event) {
    position: relative;
    width: 145px;
    height: 55px;
    background: #E0EAED;
    border-radius: 40px;
    margin: 2rem 0 0 7rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.workflow .workflow_box div p:not(.event) {
    position: absolute;
    font-size: 0.8rem;
    color: #7D747D;
    text-align: center;
    top: 26%;
    left: 14%;
}

.event {
    position: absolute;
    display: block;
    width: 970px;
    color: #64A6BD;
    font-family: section_paragraph_roboto;
    font-size: 1.2rem;
    margin: 120px 0 0 60px;
    line-height: 40px;
    height: auto;
}

.media {
    position: relative;
}

.media,
.highlights,
.historic {
    margin-top: 100px;
}

.videos {
    display: flex;
    justify-content: space-around;
}


.section_headers {
    position: relative;
    font-family: section_header_poppins;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.social_links {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 0px;
}

.social_links a {
    color: #FFFFFF;
}

.social_icon {
    font-size: 6rem;
    margin-bottom: 20px;
}

.storycontent {
    font-size: 1rem;
    margin-top: 0;
    font-family: section_paragraph_roboto;
    line-height: 23px;
}

.headerstory {
    position: absolute;
    max-width: 800px;
    font-family: section_paragraph_roboto;
    color: white;
    top: 23%;
    left: 5%;
    font-size: 1.6rem;
    font-family: headfont_poppins;
}

.more {
    position: absolute;
    left: 50%;
    top: 85%;
    cursor: pointer;
    color: white;
}

.GameMakeaName {
    padding-bottom: 20px;
}



/* font */



@font-face {
    font-family: section_header_poppins;
    src: url(element/font/Poppins-Light.ttf);
}

@font-face {
    font-family: section_paragraph_roboto;
    src: url(element/font/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: headfont_poppins;
    src: url(element/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: headfont_roboto;
    src: url(element/font/roboto/Roboto-Bold.ttf
);
}