@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}
.logo {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}
body {
  /* background-image: url(../image/background.jpg); */
  background-size: 100%;
  background-color: black;
}
span {
  color: aliceblue;
}
.header {
  height: 140px;
  width: 100%;
}
.nav_sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 10%;
}
.sp {
  display: flex;
  align-items: center;
}
.sp a,
button {
  margin-right: 10px;
  margin-left: 5px;
  font-family: "Josefin Sans", sans-serif;
}
.nav_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_bar {
  display: flex;
}
.nav_bar a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s case;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}
button {
  border: none;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 30px;
  font-size: 15px;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.3);
  cursor: pointer;
}
li a:after {
  content: "";
  position: absolute;
  background-color: aliceblue;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -8px;
  transition: 0.2s;
}
a:hover:after {
  width: 100%;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  font-size: 25px;
}
.container {
  margin-top: 50px;
  margin-left: 120px;
}
h4 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}
.popular_celeb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-right: 50px;
}
p {
  margin-top: 10px;
  font-weight: 100;
}
.content {
  height: 200px;
  width: 150px;
  margin: 30px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
  font-family: "Josefin Sans", sans-serif;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}
img {
  width: 100px;
  height: 130px;
  align-items: center;
  margin: auto;
  display: block;
}

.more_button {
  display: flex;
  justify-content: center;
}
.more_button button {
  margin: 0 10px;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 30px;
}
.title_2 {
  margin-top: 50px;
}
.footer {
  background-color: aliceblue;
  width: 100%;
  height: 100px;
}
h1 {
  color: aliceblue;
}
