@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  font-size: 15px;
  line-height: normal;
  background-color: #eaeaea;
  font-family: "Kanit", sans-serif;
}
.header a {
  text-decoration: none;
  font-weight: bold;
}

body{
  background-image: url(../../images/infopage_background.jpg);
}

.header a:hover {
  color: #e94822;
}
ul {
  list-style-type: none;
}
.navbar {
  padding: 10px 10px;
}
.container-fluid .navbar-brand {
  font-size: 30px;
  color: #e94822;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
}
.mask span {
  color: #e94822;
}
.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 30px;
  font-size: 15px;
  position: relative;
  color: black;
}
/* .navbar-expand-lg .navbar-nav .nav-link:after {
    content: "";
    position: absolute;
    background-color: #e94822;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  } */
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #e94822;
}
/* .navbar-expand-lg .navbar-nav .nav-link:hover:after {
    width: 100%;
  } */
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #e94822;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  border-bottom: 3px solid #e94822;
  color: #e94822;
}
.navbar-nav > .btn {
  background-color: #e94822;
  color: white;
  border-radius: 20px;
  padding: 8px 26px;
  font-size: 10px;
  margin-top: 1px;
  margin-left: 10px;
  transition: all 0.3s;
  font-family: "Kanit", sans-serif;
}
.title {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
}
.title a {
  color: black;
}
.h-search-form {
  width: 70%;
  position: relative;
}
.h-search-form input {
  width: 100%;
  padding: 0 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  color: #e94822;
  height: 50px;
}
.h-search-form button {
  position: absolute;
  right: 6px;
  height: 40px;
  border: none;
  top: 4px;
  color: white;
  background: #e94822;
  border-radius: 50px;
  width: 80px;
}
.card-body .card-title {
  /* margin-top: 35px; */
  font-family: "Permanent Marker", cursive;
  color: #e94822;
  font-size: 30px;
}
.card-img-top {
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
  border: 2px solid white;
}
.card {
  padding: 1rem;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
  background-color: white;
  transition: all 0.3s;
  border: 2px solid #e94822;
  margin-left: 10px;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1000;
  cursor: pointer;
}
.container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pagination li {
  display: inline-block;
  margin: 5px;
}
.pagination li a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 15px;
  line-height: 45px;
}
.previous-page,
.next-page {
  background-color: black;
  border-radius: 10px;
}
