@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
/* *,
::after,
::before {
  box-sizing: inherit;
} */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: "Molle", cursive;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
body {
  font-size: 15px;
  line-height: normal;
  background-color: #eaeaea;
  font-family: "Kanit", sans-serif;
}
.header a {
  text-decoration: none;
  font-weight: bold;
}
.header a:hover {
  color: #e94822;
}
ul {
  list-style-type: none;
}

.send_btn{
  font-family: poppins;
  letter-spacing: 3px;
}

body{
  background-image: url(../../images/contact_background.jpg);
}

.btn{
  position: relative;
  padding: 8px 26px !important;
  /* letter-spacing: 2px; */
  font-family: poppins;
  top: 1.5px;
}

.navbar {
  padding: 10px 10px;
}

.container-fluid .navbar-brand {
  font-size: 30px;
  color: #e94822;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
}
.mask span {
  color: #e94822;
}
.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 30px;
  font-size: 15px;
  position: relative;
  color: black;
  left: 100px;
}
/* .navbar-expand-lg .navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  background-color: #e94822;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
} */
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #e94822;
}
/* .navbar-expand-lg .navbar-nav .nav-link:hover:after {
  width: 100%;
} */
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #e94822;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  border-bottom: 3px solid #e94822;
}
.navbar-nav > .btn {
  background-color: #e94822;
  color: white;
  border-radius: 20px;
  padding: 8px 26px;
  font-size: 10px;
  margin-top: 1px;
  margin-left: 10px;
  transition: all 0.3s;
  font-family: "Kanit", sans-serif;
}

/* search bar */


.title {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

#noti_img1 {
  background-image: url(../../images/photo1669091302936-16690913031841639366741.jpg);
}
#noti_img2 {
  background-image: url(../../images/mono_noti.jpg);
}
.dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}

.notification{
  position: relative;
  right: -173px;
}

.title a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
}
.card-img-top {
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
  border: 2px solid white;
}
.card {
  padding: 1rem;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
  background-color: white;
  transition: all 0.3s;
  border: 2px solid #e94822;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1000;
  cursor: pointer;
}
.row {
  margin-bottom: 50px;
  margin-top: 0.5px;
}
.more-btn {
  text-align: center;
}
.more-btn .btn {
  border-radius: 20px;
  background-color: #e94822;
  font-size: 12px;
  transition: all 0.3s;
  color: #ececec;
}

.btn:hover {
  transform: scale(1.1);
}
h5 {
  font-size: 15px;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.card-title {
  margin-bottom: 10px;
}
.socials-icon {
  text-align: center;
  padding-bottom: 10px;
}
.socials-icon i {
  font-size: 20px;
  color: #e94822;
  padding: 0 5px;
}
.card .btn {
  background-color: #e94822;
  color: white;
  margin-top: 10px;
}

/* Feature Box
---------------------*/
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #20247b;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #e94822;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
  padding: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 45px;
}
.section-title h2 {
  font-weight: 700;
  color: #e94822;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #20247b;
  padding-left: 15px;
}


footer{
    margin-top: 450px;
}

.content{
    height: 400px;
}



.form-control{
  border-radius: 20px;
}


@font-face {
    font-family: poppins;
    src: url(/ie104_n13_cncl/element/font/Poppins-Italic.ttf);
}
