.background { 
	background-color:rgba(0, 0, 0, 1);
	width:1602px;
	height:1604px;
	position:absolute;
}
.Actors-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:230px;
	top:143px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Actors-img { 
	width:212px;
	height:200px;
	position:absolute;
	left:250px;
	top:146px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/actors.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Actors-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:59px;
	position:absolute;
	left:267px;
	top:317px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.CEOs-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:577px;
	top:143px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.CEOs-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:638px;
	top:176px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/ceo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.CEOs-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:614px;
	top:317px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Chefs-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:896px;
	top:143px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Chefs-img { 
	width:148px;
	height:149px;
	position:absolute;
	left:955px;
	top:168px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/chefs.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Chefs-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:936px;
	top:317px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Directors-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:230px;
	top:478px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Directors-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:296px;
	top:511px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/directors.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Directors-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:267px;
	top:652px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Models-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:577px;
	top:478px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Models-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:633px;
	top:509px;
	background-image:url(categories-images/models.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Models-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:614px;
	top:650px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Musicians-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:899px;
	top:478px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Musicians-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:948px;
	top:512px;
	background-image:url(categories-images/musicians.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Musicians-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:936px;
	top:650px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Photographers-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:222px;
	top:820px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Photographers-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:286px;
	top:853px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/photographers.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Photographers-text { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:58px;
	position:absolute;
	left:222px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Politicians-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:577px;
	top:820px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Politicians-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:633px;
	top:853px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/politicians.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Politicians-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:613px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Rappers-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:910px;
	top:820px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Rappers-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:966px;
	top:853px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/rappers.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Rappers-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:947px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Sports-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:230px;
	top:1155px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Sports-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:292px;
	top:1188px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/sports.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Sports-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:256px;
	top:1329px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Streamers-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:577px;
	top:1155px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Streamers-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:633px;
	top:1180px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/streamers.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Streamers-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:614px;
	top:1321px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.Writers-box { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:240px;
	position:absolute;
	left:911px;
	top:1155px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.Writers-img { 
	width:128px;
	height:128px;
	position:absolute;
	left:967px;
	top:1188px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(categories-images/writers.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Writers-text { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:950px;
	top:1329px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
